@import "tailwindcss";

html, body {
  font-family: var(--font-montserrat), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--marquee-width)));
  }
}